* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;

}

 :root {
  --background-color: white;
  --header_footer-color: #FE1A19;
}


body {
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: normal;

}
.page {
	width: 1440px;
	background-color: var(--backgroung-color);
}

.header {
	height: 60px;
	background-color: var(--header_footer-color);
	font-family: "Helvetica";
}

h1 {
	color: white;
	font-size: 20px;
    line-height: 60px;
	margin-left: 20px;


}

li {
	list-style: none;
}

.main {
	text-align: center;
	font-size: 0;
}

.column {
	width: 400px;
	border: 5px solid #E5E000;
	border-radius: 30px;
	text-align: left;
	display: inline-block;
	margin: 122px 0;
	padding: 33px;
	font-size: 20px;

}



.main2 {
	margin-right: 50px;
	margin-left: 50px;
}

h2 {
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 41px;

}

.h3 {
margin-top: 15px;
font-size: 20px;
}

.footer {
	font-family: "Helvetica";
	height: 60px;
	background-color: var(--header_footer-color);
}

.footer_text {
	color: white;
	font-size: 20px;
    line-height: 60px;
	margin-left: 20px;
}