* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;

}

 :root {
  --background-color: white;
  --header_footer-color: #FE1A19;
}

html { 
	font-size: .8vw; 
}


body {
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: normal;

}
.page {

	background-color: var(--backgroung-color);
}

.header {
	height: 6rem;
	background-color: var(--header_footer-color);
	font-family: "Helvetica";
}

h1 {
	color: white;
	font-size: 2rem;
    line-height: 6rem;
	margin-left: 2rem;


}

li {
	list-style: none;
}


.main {
	text-align: center;
	min-height: calc(100vh - 120px);
	font-size: 0;
}

.column {
	width: 40rem;
	border: 0.5rem solid #E5E000;
	border-radius: 3rem;
	text-align: left;
	display: inline-block;
	margin: 12.2rem 0;
	padding: 3.3rem;
	font-size: 2rem;

}



.main2 {
	margin-right: 5rem;
	margin-left: 5rem;
}

h2 {
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 4.1rem;

}

.h3 {
margin-top: 1.5rem;
font-size: 2rem;
}

.footer {
	font-family: "Helvetica";
	height: 6rem;
	background-color: var(--header_footer-color);
}

.footer_text {
	color: white;
	font-size: 2rem;
    line-height: 6rem;
	margin-left: 2rem;
}