@import url(reset.css);

html {
	font-size: 62.5%
}

body {
	font-family: Arial;
	color: #E50043;


}
h1 {
	flex-grow: 22;


}
a {
	text-decoration: none;
	color: #E50043;
	flex-grow: 1;
}

main {
	display: inline-block;


}

h2 {
	font-size: 10rem;
	line-height: 11.5rem;
	position: absolute;
	text-align: center;








}
header {
	height: 14rem;
	background-color: #FFFFFF;
	font-size: 5rem;
	line-height: 5.7rem;
	box-sizing: border-box;
	display: flex;
	justify-content:space-around;
	padding: 5rem 5rem;







}