@import url(reset.css);

html {
	font-size: 62.5%;
	font-family: Arial;

}

header{
	height: 14rem;
	background-color: #FFFFFF;
	display: flex;
	font-size: 5rem;
	line-height: 5.7rem;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 5rem;
	position: fixed;
	width: 100%;
	top: 0;
}

h1,a {
	text-decoration: none;
	color: #E50043;

}

.mainimg {
	height: 95rem;
	background-image: url(../img/evian_origins_logo.png);
	background-position: center;
	display: flex;
	box-sizing: border-box;
	color: #E50043;
	font-size: 10rem;
	margin-top: 14rem;
	justify-content: center;
    align-items: center;
	
}

.info {
	width: 104rem;
	box-sizing: border-box;
	border: 0.3rem solid #F8BFC7;
	border-radius: 2rem;
	margin: 15rem auto;
	padding: 2.4rem;


}

h3, p, ul {
	font-size: 2.5rem;
	line-height: 2.9rem;
}

h3 {
	margin-bottom: 2.5rem;
}

section.images {
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;

}
img {
	margin-bottom: 4.2rem;
}
figcaption {
	text-align: center;
	font-size: 2.5rem;
	margin:  0.5rem auto;
}

.info2 {
	display: flex;
	width: 104rem;
	box-sizing: border-box;
	border: 0.3rem solid #F8BFC7;
	border-radius: 2rem;
	margin: 15rem auto;
}

img.glass {
	height: 22rem;
	width: 10.1rem;
    margin: 3rem;
}
ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2.4rem;
}

footer {
	height: 14rem;
	background-color: #F8BFC7;
	box-sizing: border-box;
	display: flex;
	padding: 5rem;
}

.copyright {
	font-size: 5rem;
	color: #FFFFFF;
}
