@import url(reset.css);

html {
	font-size: 62.5%;
	font-family: Arial;

}

header {
	height: 14rem;
	background-color: #FFFFFF;
	display: flex;
	font-size: 5rem;
	line-height: 5.7rem;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 5rem;

}

h1,a {
	text-decoration: none;
	color: #E50043;

}

.mainimg {
	height: 95rem;
	background-image: url(../img/evian_origins_logo.png);
	background-position: center;
	box-sizing: border-box;
	color: #E50043;
	font-size: 10rem;
	line-height: 114.9rem;
	text-align: center;
}




}